body * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.content {
	padding-top: 10px;
}
.bg-clock {
	width: 100%;
	height: 100%;
}
.clock-wrapper {
    margin: 0 auto;
	width: 300px;
	height: 300px;
	position: relative;
}
.minutes,
.hours,
.seconds {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;	
}
.minutes {
	background: url(../img/minutes.png);
	background-size: 300px;
}
.hours {
	background: url(../img/hours.png);
	background-size: 300px;
}
.seconds {
	background: url(../img/seconds.png);
	background-size: 300px;
}

.outer-circle {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	background-color: red;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.bg-green {
	overflow: hidden;
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: green;
}
.quarter1 {
	top: 0;
	left: 0;
}
.quarter2 {
	top: 0;
	left: 50%;
}
.quarter-inner {
	position: absolute;
	width: 200%;
	height: 100%;
	background-color: red;
}
.good {
	float: left;
	display: block;
	width: 50%;
	height: 100%;
	background-color: green;
}
.bad {
	float: left;
	display: block;
	width: 50%;
	height: 100%;
}
.quarter2 .quarter-inner {
	left: -100%;
}
